# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode / Swift
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Rust
windows/target/
windows/.toolchain/
linux/.toolchain/
linux/target/


# Build outputs
dist/

# Editors
.idea/
*.swp
*.swo
*~

# Logs
*.log
