[Desktop Entry]
Type=Application
Name=NKriZ DNS Connector
Comment=Start NKriZ DNS Connector in the system tray
Exec=nkriz-dns-connector-launch
Icon=network-workgroup
Terminal=false
Categories=Network;Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
